* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}


html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* DESKTOP NAV */
#desktop-nav {
    background-color: black;
    padding: 0 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cypress_nav_img img {
    height: 80px;
    width: 200px;
}


nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 5rem;
    list-style: none;
    font-size: 1.5rem;
}
 
a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(184, 224, 242);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 218, 98);
}

.logo {
    font-size: 2rem;
    color: white;
}

.logo:hover {
    cursor: default;
}

.cypress_nav_img {
    height: 50px;
    width: 50px;
    margin: auto 0;
}


/* ABOUT */

#about {
    display: flex;
    justify-content: center;
    gap: 7rem;
    height: 60vh;
}

.cypress_img {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about__text {
    align-self: center;
    text-align: center;
    color: white;
    font-size: large;
}

.about__text p {
    font-weight: 400;
}

.about__text__p1 {
    text-align: center;
    color: rgb(255, 234, 114);
    font-size: xx-large;
}

.about__text__p2 {
    font-size: 1.75 rem;
    color: rgb(176, 194, 211);
}


/* REPORT */

#report {
    display: flex;
    justify-content: center;
    gap: 10rem;
    height: 70vh;
}

.header__text {
    text-align: center;
    color: white;
    font-size: large;
}

.map_img {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about__text {
    align-self: center;
    text-align: center;
    color: white;
    font-size: large;
}

.about__text p {
    font-weight: 400;
}

.about__text__p1 {
    text-align: center;
    color: rgb(255, 234, 114);
    font-size: xx-large;
}

.about__text__p2 {
    font-size: 1.75 rem;
    color: rgb(176, 194, 211);
}

